;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

[color]
;; Active Colors
bg = #68000000
fg = #f8f8f2
fg-alt = #9C9C9C

trans = #00000000
white = #F8F8F2
black = #000000

;; Material Colors
red = #EE4F84
pink = #F48FB1
purple = #BD99FF
deep-purple = #985EFF
indigo = #3949ab
blue = #6498EF
light-blue = #92B6F4
cyan = #24D1E7
teal = #87DFEB
green = #53E2AE
light-green = #A1EFD3
lime = #c0ca33
yellow = #F1FF52
light-yellow = #F1FA8C
grey = #3D4C5F
light-gray = #56687E

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 0

[bar/mainbar0]
inherit = bar/barbase
modules-left =
modules-center = workspace
;tray-position = right
;tray-detached = false
;tray-maxsize = 28
;tray-offset-x = 0
;tray-offset-y = 0
;tray-padding = 5
;tray-scale = 1.0
;tray-background = #000000

[bar/mainbar1]
inherit = bar/barbase
modules-left =
modules-center = workspace

[bar/barbase]
width = 100%
monitor = ${env:monitor}
offset-x = 0
offset-y = 0
height = 54
fixed-center = true
bottom = true

background = ${color.bg}
foreground = ${color.fg}

radius-top = 0.0
radius-bottom = 0.0

padding = 3
module-margin-left = 2
module-margin-right = 0

font-0 = "Droid:size=25:weight=semibold;3"
font-1 = "SauceCodePro Nerd Font:size=25:weight=semibold;3"
modules-right = date sysmenu

enable-ipc = true

[settings]

throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false

;; Modules

[module/workspace]
type = custom/script
exec = leftwm-state -w $index -t "$SCRIPTPATH/template.liquid"
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0

time = " %l:%M %p"
time-alt = " %A, %B %d, %Y"

format = <label>
label = %time%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/sysmenu]
type = custom/text
content = " 襤 "
content-foreground = ${colors.foreground}
click-left = arcolinux-logout
click-right = arcolinux-logout
